ul.pagination {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  ul.pagination li {
    margin: 0 3px;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    display: block;
  }
  
  ul.pagination li.empty {
    border: none;
    cursor: default;
  }
  
  ul.pagination li.next {
    border: none;
    float: left;
    display: block;
  }
  
  ul.pagination li.prev {
    float: left;
    display: block;
    border: none;
  }
  
  ul.pagination li.active {
    background: #ccc;
  }
  